mixin rating(index, rating)
  .star-rating
    input(id=`star-#${index}-a` type='radio' name=`stars-#${index}` value='5' checked=(rating == 5))
    label(for=`star-#${index}-a`)
    input(id=`star-#${index}-b` type='radio' name=`stars-#${index}` value='4' checked=(rating == 4))
    label(for=`star-#${index}-b`)
    input(id=`star-#${index}-c` type='radio' name=`stars-#${index}` value='3' checked=(rating == 3))
    label(for=`star-#${index}-c`)
    input(id=`star-#${index}-d` type='radio' name=`stars-#${index}` value='2' checked=(rating == 2))
    label(for=`star-#${index}-d`)
    input(id=`star-#${index}-e` type='radio' name=`stars-#${index}` value='1' checked=(rating == 1))
    label(for=`star-#${index}-e`)