mixin rating(props = {})
  -
    const {
      id = "",
      rate = "",
    }=props
    let n = [1, 2, 3, 4, 5];
    
  .star-rating
    each i in n
      input(id=`star-${id}-${i}` type='radio' name=`stars-${id}` value=`${i}` checked=(i == rate))
      label(for=`star-${id}-${i}`)