include components/rating/rating.pug
//- mixin number-card()
//-     .number-hostel 
//-         .swiper.mySwiper
//-             .swiper-wrapper
//-                 .swiper-slide
//-                     img(src=require("./img/number-hostel-1.svg"), alt="3")
//-                 .swiper-slide 
//-                     img(src=require("./img/number-hostel-1.svg"), alt="3")
//-                 .swiper-slide 
//-                     img(src=require("./img/number-hostel-1.svg"), alt="3")
//-                 .swiper-slide 
//-                     img(src=require("./img/number-hostel-1.svg"), alt="4")
//-             .swiper-button-next 
//-             .swiper-button-prev
//-             .swiper-pagination
//-         .info-hostel 
//-             .price-hostel
//-                 .number 
//-                     b  № 888 
//-                     span люкс
//-                 .number-price 
//-                     b 9 990₽ 
//-                     span в сутки
//-             .hostel-border
//-             .rating-hostel 
//-                 +rating(1, 4)
//-                 .rating-number
//-                     b 65 
//-                     span Отзывов

mixin room-hostel-card(props = {})

    -
        const {
            numberCard = "",
            id = "0",
            images = [],
            isLuxury = false,
            price = 0,
            rating = "",
            feedback = ""

        } = props
    .number-hostel
        .swiper.mySwiper
            .swiper-wrapper
                each image in images
                    .swiper-slide 
                        img(src=require(`./img/${image}.svg`), alt="")
            .swiper-button-next 
            .swiper-button-prev
            .swiper-pagination
        .swiper-info 
            +card-room-info(props)

