mixin comfort-user(props={})
    -
        const {
            image= "",
            subLabel="",
            text=""
        }=props
    .comfort
        .comfort-user 
            img(src=require(`./img/${image}.png`), alt="")
            .comfort-text 
                h6.comfort-title=subLabel
                span=text
        .border-user
        