mixin user-feedback(props={})
    include components/like-button/like-button.pug
    -
        const {
            avatar = "",
            name = "",
            timeFeedback = "",
            text = ""
        }=props

    .feedback 
        .feedback-avatar
            img(src=require(`./img/${avatar}.jpg`), alt="")
            +like-btn(props)

        .user-feedback
            .user-name 
                h6.user-feedback__title=name
                span.user-span=timeFeedback
            span.comment-user=text