mixin header(props = {})

    -
        const {
            user = "",
            servies = [],
            agreements = [],
            btnId = "",
            account = ""
        } = props

    .header 
        .header-container
            .header-wrapper 
                .nav-logo 
                    a(href="landing.html")
                        img(src=require("img/logo.svg"), alt="Logo")
                button.header-burger__btn(id=`${btnId}`)
                    span 
                    span 
                    span 
                .nav-menu
                    ul.menu-list 
                        li 
                            a.menu-item(href="#") О нас
                        li 
                            .link-drop
                                a.menu-item(href="#") Услуги
                                .nav-arrow
                            .menu-drop(id=`${btnId}-servies`)
                                each n in servies
                                    .sub-menu
                                        a(href="#")=n 
                        li 
                            a.menu-item(href="#") Вакансии
                        li 
                            a.menu-item(href="#") Новости
                        li 
                            .link-drop 
                                a.menu-item(href="#") Соглашения
                                .nav-arrow
                            .menu-drop(id=`${btnId}-agreements`)
                                each n in agreements
                                    .sub-menu
                                        a(href="#")=n 
                    if user
                        .border-veritical
                        a.user-authorized(href="#")=account 
                    else
                        a.user-open(href="sign-page.html") 
                        a.user-registration(href="registration.html")